.layout {
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-rows: auto fit-content(50rem);
  grid-template-columns: 100%;
  grid-template-areas:
  "main"
  "footer";
}

.main {
  grid-area: main;
  margin-top: 6rem;
}

.footer {
  grid-area: footer;
}
