.label{
    border-radius: 5px;
    border: 1px solid #d8d8d8;
    padding: 1.2rem;
    width: 100%;

    color: #afafaf;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; 
    text-align: start;
}
.input{
    opacity: 0;
    transform: translate(-120rem);
}

.focus{
    outline: none;
    border-color: #F4D419;
  }