 .select,
 .select option {
    border-radius: 5px;
    border: 1px solid #d8d8d8;
    padding: 1.2rem;
    width: 100%;

    color: #afafaf;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; 
    outline: none;
    background-color: transparent;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../../assets/Rectangle\ 37.svg') no-repeat;
    background-position: right 12px  top 50%  ;
  }


  